body {
    padding: 0;
    margin: 0;
}
.articleContainer {
    align-items: center;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
}
.article {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: 60%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    height: 15vh;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;

}